.star-rating,
.star-rating-edit {
  font-size: 20px;
  width: 120px;
  text-align: center;
  border: #6c757d solid 1px;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: 2px 2px 8px #6c757d;
}

.star-rating button:not(.rate) {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1px;
}
.on {
  color: orange;
}
.off {
  color: #ccc;
}

.star-rating button:hover:not(.rate) {
  color: orange;
}

.rate-header {
  margin-bottom: 0;
}

.rate {
  padding: 0 5px;
}

#stars {
  color: orange;
}

.star-edit {
  color: orange;
}
