body {
  margin: 0;
  font-family: "Antic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 74px;
  background-color: #F1F1F1;
}

a {
  text-decoration: none;
  color: white;
}

#recipeIngredients {
  height: 200px;
}

#recipeSteps {
  height: 200px;
}

#bio {
  height: 125px;
}

button {
  background-color: #6c757d;
  color: white;
  font-family: "Amaranth", sans-serif;
  border-radius: 6px;
  border: none;
  padding: 5px 8px;
  font-size: 1.3rem;
}

button:hover {
  background-color: orange;
}