@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Antic&display=swap");

body {
  margin: 0;
  font-family: "Antic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 74px;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#recipeIngredients {
  height: 200px;
}

#recipeSteps {
  height: 200px;
}

#bio {
  height: 125px;
}

